table {
  width: 100%;
  table-layout: fixed;
}

mat-card {
  margin: 12px;
}

.center {
  width: 200px;
  height: 200px;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -100px;
}
.item-container {
  margin-left: 12px;
  margin-top: 35px;
  width: 100%;
  display: flex;
}

.item-container-left {
  width: 200px;
}

.item-container-right {
  width: 150px;
  padding-bottom: 35px;
}

.item-link{
  display: block;
  padding-top: 35px;
  text-decoration: none;
  padding-left: 24px;
}
