<div class="flex-container">
  <mat-card>
    <mat-card-title>Movies</mat-card-title>

    <table mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="registrationId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Registration Id </th>
        <td mat-cell *matCellDef="let element"> {{element.registrationId}} </td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> Stock </th>
        <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <span *ngIf="element.quantity > 0">
            <button mat-stroked-button color="primary" (click)="rent(element.registrationId)">Rent</button>
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #moviesPaginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>

  </mat-card>


</div>
